:root {
  --pr-hijau: #048853;
}

body {
  font-family: "Poppins";
  background-color: #e5e5e5;
}

.navbar {
  z-index: 3;
}
* {
  z-index: 2;
}
.accent-banner {
  z-index: 1;
}

/* navbar style */
.navbar-brand {
  font-size: 20px;
  font-weight: 700;
}
.nav-link.active {
  font-size: 16px;
  font-weight: 700;
}
.nav-link {
  font-size: 16px;
  font-weight: 400;
}
.btn {
  width: 133px;
  height: 40px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--pr-hijau);
}
.btn2 {
  width: 133px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
/* navbar end */

/* style hero  */
#hero {
  background: linear-gradient(160deg, var(--pr-hijau), #000);
  height: 100vh;
}
.text-hero h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 70px;
}

.text-hero p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
  width: 75%;
}

.btn-lg {
  width: 237px;
  height: 70px;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  color: var(--pr-hijau);
  border: none;
}

/* end style hero */

/* layanan style */
#our-service {
  padding: 100px 0;
  width: 100%;
}
h1 {
  font-size: 45px;
  font-weight: 600;
  color: var(--pr-hijau);
}
p {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.card-layanan {
  height: 313px;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  transition: all 0.1s ease-in;
}
.container-img {
  height: 70px;
  width: 70px;
  background-color: var(--pr-hijau);
  border-radius: 50%;
  transition: all 0.1s ease-in;
}
.card-layanan h4 {
  font-size: 24px;
  font-weight: 500;
  color: var(--pr-hijau);
  transition: all 0.1s ease-in;
}
.card-layanan p {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  transition: all 0.1s ease-in;
}

/* hover card */
.card-layanan:hover {
  background: linear-gradient(160deg, var(--pr-hijau), #000);
  transition: all 0.1s ease-in;
}
.card-layanan:hover .container-img {
  background-color: #fff;
  transition: all 0.1s ease-in;
}
.card-layanan:hover h4 {
  color: #fff;
  transition: all 0.1s ease-in;
}
.card-layanan:hover p {
  color: #fff;
  transition: all 0.1s ease-in;
}
/* end hover card */
/* end layanan */
/* style rumah */
#rumah {
  height: 100vh;
  background-image: url(image/bgkusi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.rumahgeming {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  line-height: 70px;
  padding-top: 100px;
}
.rumahhemster {
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}
/* end rumah */
.btn-tab {
  height: 42px;
  color: black;
  background-color: rgb(255, 255, 255, 0.5);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
}

.jual {
  border-top-left-radius: 10px;
}
.property {
  border-top-right-radius: 10px;
}

.btn-tab.active {
  height: 42px;
  color: var(--pr-hijau);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease-in;
}
.input-group {
  height: 89px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px 0px 0px 10px;
}
.btn-cari {
  
  width: 135px;
  height: 100%;
  border: none;
  font-weight: 500;
  color: #fff;
  font-size: 36px;
  background-color: var(--pr-hijau);
}

.btn-search {
  width: 200px;
  border: none;
  background-color:transparent;
  color: var(--pr-hijau);
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  border-right: #fff;
}
.nav-tabs{
  border: none;
}
.form-control{
  border: none;
  background-color: rgba(255, 255, 255, 0.349);
}
.form-control::placeholder{
  color: var(--pr-hijau);
}
.form-control:focus{
  box-shadow: 1px 1px 5px 1px #048853 ;
  color: var(--pr-hijau);
}

/* rekomen rmh */
#rekomendasi{
 margin: 60px;
}
.card-rek{
  height: 489px;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
margin-top: 20px;
}
.card-rek:hover{
  background-color: var(--pr-hijau);
  transition: 0.5s ease;
}
.card-gbr{
  height: 280px;
  
}
.IDR{
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.jl{
  font-size: 14px;
  font-weight: 400;
}
.fasilitas{
  height: 67px;
 
}
.sub-fasi{
  font-size: 12px;
  font-weight: 400;
}
.row{
  padding: 10px;
  margin: 15px;
}
/* end rmh */